table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
.ui.table{
  border-top: .2em solid #001336;
}
td, th {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
}
.tr-group:hover{
  background-color: #001336 !important;
  color: white
}
th{
  background-color: rgb(237, 237, 238) !important;
  height: 40px !important;
}
.buttonDesc{
  text-align: start;
  width: 100%;
  height: 30px;
  border:none;
  outline: none;
  background-color: rgb(237, 237, 238);
}
.td-group-grupo{
  font-size: 14px
}
.td-group-desc{
  font-size: 14px
}
.td-group-criado{
  font-size: 14px
}
.buttonEmp{
  text-align: start;
  width: 100%;
  height: 30px;
  border:none;
  outline: none;
  background-color:rgb(237, 237, 238) ;
  cursor: pointer;
  font-size: 15px
}
.table-row{
  width: 100% !important
}
.grupo{
  width: 17% !important;
}
.desc{
  width: 33% !important
}
.criado{
  width: 15% !important;
}
.qtd{
  width: 9% !important
}