table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.buttonGrupo{
  text-align: start;
  width: 100%;
  height: 50px;
  border:none;
  outline: none;
  background-color: white;
  cursor: pointer;
}
.buttonDesc{
  text-align: start;
  width: 100%;
  height: 50px;
  border:none;
  outline: none;
  background-color: white;
  cursor: pointer;
}
.buttonEmp{
  text-align: start;
  width: 100%;
  height: 50px;
  border:none;
  outline: none;
  background-color: white;
  cursor: pointer;
}