.SideMenu {
  background-color: #001336 !important;
}

.SideMenu a:hover{
  background-color: #003494 !important;
}

.SideMenu a.active{
  background-color: #ffffff !important;
  
}

.SideMenu a.active .DivItem{
  color: #001336 !important;
  font-weight: bold;
}

.DivItem {
  display: flex;
  align-content: flex-start;
  font-size: 15px;
}

.DivItem i{
  margin-left: 0px;
  margin-right: 15px;
}