.Login{
  width: 40%;
  height: 40%;
}
.label{
  color: #003494 !important;
  background-color: #e8e8e8 !important;
}

.labelClass{
  width: 85px !important;
}
.button{

  margin-top: 15px !important;
  background-color: #e8e8e8 !important;
  color: #003494 !important;
}
.button:hover{
  margin-top: 15px !important;
  background-color: #003494 !important;
  color: #e8e8e8 !important;
}

.form {
  margin-top: 5%;
}